@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');


@import "./thems.scss";

body, * {
    font-family: 'Josefin Sans', sans-serif !important;
}

@import "../../variables.scss";

html,
body {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    background-color: $body-bg-color;
}


* {
    // font-family: Roboto;
    // font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul li {
    list-style: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
outline: none;
border: none;
}
.container {
    padding: 0 150px;
    
    // Responsive cho mobile
    @media (max-width: 768px) {
        padding: 0 20px;
    }

    @media (max-width: 480px) {
        padding: 0 10px;
    }
}